# Inspired and forked from 
# https://gist.github.com/scottnonnenberg/fefa3f65fdb3715d25882f3023b31c29

[user]
  email = eblundell@gmail.com
  name = Eddie Blundell
  signingkey = 6913009C7E8505C8

[alias]
  prune = fetch --prune
  # Remove local branches which are not on remote
  
  stash-all = stash save --include-untracked
  # We wanna grab those pesky un-added files!
  # https://git-scm.com/docs/git-stash
  #
[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles
  
[push]
	default = current
  # "push the current branch back to the branch whose changes are usually integrated into the current branch"
  # "refuse to push if the upstream branch’s name is different from the local one"
  # https://git-scm.com/docs/git-config#git-config-pushdefault
  #
  followTags = true
  # Because I get sick of telling git to do it manually
  # https://git-scm.com/docs/git-config#git-config-pushfollowTags
  #
  
[pull]
  rebase = true
  default = current

[rebase]
  autoStash = true
  
[merge]
  ff = only
  # I pretty much never mean to do a real merge, since I use a rebase workflow.
  # Note: this global option applies to all merges, including those done during a git pull
  # https://git-scm.com/docs/git-config#git-config-mergeff

  conflictstyle = diff3
  # Standard diff is two sets of final changes. This introduces the original text before each side's changes.
  # https://git-scm.com/docs/git-config#git-config-mergeconflictStyle
  
[core]
	editor = /usr/bin/nvim
	pager = less -+$LESS -FRX

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[commit]
  gpgsign = false
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = false
	stripLeadingSymbols = false
	useUnicodeRuler = false
	rulerWidth = 47

[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "ssh://github.com"]
	helper = !gh auth git-credential
