[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "ubuntu-mono-powerline"]
	path = ubuntu-mono-powerline
	url = https://github.com/scotu/ubuntu-mono-powerline
